body {
background: #fcfcfc;
font-size: 11px;
font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
color: #333;
line-height: 1.28;
margin: 0;
padding: 0;
text-align: left;
direction: ltr;
unicode-bidi: embed;
overflow-y: scroll;
}
a {
color:#3B5998;
cursor:pointer;
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
.err {
margin:0;
padding:5px;
border:1px solid #900;
color:#600;
background:#ff9999;
}
#make_center {
margin:10px auto;
}
table { margin:10px 0;width:100%; }
.status_en {
color:#fff;
background:#ff0000;
width:100px;
text-align:center;
font-weight:bold;
}
.status_de {
color:#fff;
font-weight:bold;
background:#9C0;
width:100px;
text-align:center;
}
.success {
color:#fff;
font-weight:bold;
background:#9C0;
padding:5px;
}
.failure {
color:#fff;
font-weight:bold;
background:#f00;
padding:5px;
}

.box_title {
font-weight:bold;
font-size:14px;
padding-bottom:10px;
}
.desc {
color: #777;
padding:3px;
border:1px dashed #ccc;
margin-top:3px;
}
.desc2 {
color:#777;
}
.stat {
padding:3px;
float:right;
font-size:11px;
font-weight:normal;
border:1px solid #ccc;
background:#e9e9e9;
}
.logo {
margin:10px auto;
width:810px;
}
.copy {
margin:10px auto;
width:810px;
text-align:center;
font-size:10px;
color:#999;
}
table.list_company {
border-bottom:1px solid #ccc;
}
.nav {
margin:0;
padding:10px;
border-bottom:1px solid #D9D9D9;
background:#F2F2F2;
}
.nav_center {
margin:0 auto;
width:830px;
}
.logo {
margin:10px auto;
width:830px;
}
.nav_inside {
margin:0 0 20px 0;
}
.searchform {
float:right;
}
.totalreg {
float:right;
padding-left:5px;
padding-right:5px;
padding-top:3px;
padding-bottom:3px;
border:1px solid #ccc;
background:#eaeaea;
}
.sponsor {
padding-left:5px;
padding-right:5px;
padding-top:3px;
padding-bottom:3px;
font-size:8px;
font-weight:bold;
letter-spacing:1px;
border:1px solid #fff;
}
.gold {
background:#D4A017;
color:#fff;
}
.silver {
background:#C0C0C0;
color:#fff;
}
.bronze {
background:#CD7F32;
color:#fff;
}
table.list_session { width:100%; }
table.list_session th {
padding-bottom:10px;
border-bottom:1px dashed #ccc;
}
table.list_session td {
padding-top:5px;
padding-bottom:0px;
}